###############################################################################
#
# HOST DEFINITION
#
###############################################################################

define host {

    	host_name		Outlook
    	check_command           check_ping!100.0,20%!500.0,60%
	max_check_attempts	4
	address			outlook.com
    	alias                   Outlook
}

define host {

    	host_name		SharePoint
    	check_command           check_ping!100.0,20%!500.0,60%
	max_check_attempts	4
	address			sharepoint.com
    	alias                   SharePoint
}

define host {

    	host_name		OneDrive
    	check_command           check_ping!100.0,20%!500.0,60%
	max_check_attempts	4
	address			onedrive.com
    	alias                   OneDrive
}

###############################################################################
#
# HOST GROUP DEFINITION
#
###############################################################################

define hostgroup {

    hostgroup_name          M365-services           ; The name of the hostgroup
    alias                   Microsoft M365 Services           ; Long name of the group
    members                 Outlook, SharePoint, OneDrive               ; Comma separated list of hosts that belong to this group
}

